.login-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 59px;
  background: #00514e;
  border-radius: 20px;
}

.vertical-centered-text-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 86px;
}

.login-button {
  background-color: #00514e; /* Цвет фона кнопки */
  border: none; /* Убираем обводку */
  border-radius: 20px; /* Закругление углов */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  height: 85px;
  width: 100%;
}

.login-button:hover {
  background-color: #004b45; /* Цвет фона при наведении */
}

.login-button-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 800 32px Inter, sans-serif;
  color: white;
}
