.system-login-container1 {
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #00514e;
    padding: 120px 0;
  }
  .system-login-container2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 1109px;
    padding-top: 106px;
    padding-bottom: 129px;
  }
  .system-login-container3 {
    flex: 0 0 auto;
    padding-left: 23.5px;
  }
  .footer-links-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .header-link {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 800 13px Inter, sans-serif;
    color: white;
  }
  .navigation-links-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 78px;
    align-items: center;
    justify-content: flex-start;
  }

  .app-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение для шапки и основного контента */
    margin-left: 33.33%; /* Отступ для основного контента, чтобы не перекрывать сайдбар */
    padding: 20px; /* Отступы для основного контента */
}