
.sidebar {
  width: 200px;
  position: sticky; /* Фиксируем сайдбар */
  top: 100px; /* Прилипает ниже шапки */
  background: #fff;
  padding: 15px;
  border-right: 3px solid #266e6e;
  box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(10, 66, 54, 0.08);
  overflow-y: auto; /* Добавляем прокрутку, если контент сайдбара превышает высоту */
}

/* Дополнительно для вложенных элементов */
.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* На случай вложенных контейнеров */
}
.sidebar-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu {
  list-style: none;

  flex-grow: 1; /* Занимает доступное пространство */
  padding-right: 2px; /* Чтобы контент не прилипал к скроллу */
  padding-left: 3px;
}

/* Остальные стили без изменений */
.app-name {
  font-family: 'Lexend Tera', sans-serif;
  color: #00514e;
  letter-spacing: 2px;
  margin-left: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #3a3333;
  text-decoration: none;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #f0f4f8;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.menu-item span {
  font-size: 15px;
}

/* Темная тема для сайдбара */
body.dark-theme .sidebar {
  background-color: #2d2d2d;
  border-right-color: #114d48;
  box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.3), 
              0 10px 10px rgba(22, 14, 14, 0.25);
}

body.dark-theme .menu-item {
  color: #e0e0e0;
}

body.dark-theme .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .menu-item img {
  filter: invert(0.2);
}

/* Дополнительно можно стилизовать активный пункт меню */
body.dark-theme .menu-item.active {
  background-color: #3a6d69;
  color: rgb(230, 70, 70);
}

body.dark-theme .menu-item.active:hover {
  background-color: #2e5854;
}