.main-content-container {
  width: 33.33%;
  padding: 0 26px;
  height: 100vh;
  position: fixed;
  border-right: 5px solid #00514e;
}

.horizontal-flex-container {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #00514e;
  padding: 15px 0;
}

.v-planner-title {
  margin: 0 0 0 3px;
  font: 400 22px "Lexend Tera", sans-serif;
  color: #00514e;
  letter-spacing: 6.6px;
}

.main-content-container ul li {
  margin: 20px 0;
  padding: 15px;
  display: flex;
  align-items: center;
}

.main-content-container ul li:hover {
  background-color: #ddd;
}

.image-container {
  width: 29px;
  height: 41px;
  margin-right: 15px;
}

.menu-item-text {
  font: 300 16px Inter, sans-serif;
  color: black;
}

.flex-row-with-image {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 20px;
}

.flex-row-with-image:hover {
  background-color: #EDEEF0;
}
